/* *******************REGOLE GENERALI**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **************************REGOLE MAIN******************* */
main{
    position: relative;
}

/* *********** background *********** */
#top_bar{
    background-color: rgb(16, 128, 79);
    height: 100px;

}

#bot_bar{
    height: calc(100vh - 100px);
    background-color: grey;
    ;
}

/*****************CONTAINER APP************************/

#app_container{
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    height: calc(100vh - 60px);
    display: flex;
    /* debug */
    background-color: white;
}

.col_sx{
    height: 100%;
    width: 30%;
    border-right: 1px solid rgb(162, 145, 145);
}

.col_dx{
    width: 70%;
    height: 100%;
    position: relative;
    /* debug */
    /* background-color: black; */
}

.raw_top_dx{
    height: 90%;
    
    /* debug */
    background-color: blueviolet;

}

.raw_bot_dx{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0 ;
    /* debug */
    background-color: aquamarine;
}
