/* *******************REGOLE GENERALI**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

/* **************************REGOLE MAIN******************* */
main{
    position: relative;
    font-family: "Lato", sans-serif;
    

}

/* *********** background *********** */
#top_bar{
    background-color: rgb(2, 150, 136);
    height: 100px;
    min-width: 100vh;

}

#bot_bar{
    height: calc(100vh - 100px);
    background-color: rgb(216, 219, 213);
    min-width: 100vh;

    
}

/*****************CONTAINER APP************************/

#app_container{
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    height: calc(100vh - 60px);
    display: flex;
    /* debug */
    background-color: white;
}

/* ****************************COL DX****************************** */

.col_dx{
    width: calc(100% - 400px);
    min-width: 400px;
    height: 100%;
    position: relative;
    background-image: url(../img/bg\ whatsapp.png);
    background-size:contain;
}

.row_top_dx{
    height: 13%;
    min-height: 40px;
    width: 100%;
    padding-right: 10px;
    position: absolute;
    top: 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
}
#clr_text{
color: rgb(148, 153, 157);
}


.row_mid_dx{
    width: 100%;
    height: 75%;
    position: absolute;
    top: 10%;
}

.inviato{
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding-left: 10px;
    width: 150px;
    height: 30px;
    margin-left: calc(100% - 180px);
    margin-top: 50px;
    background-color: rgb(213, 249, 186);
}

.ricevuto{
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding-left: 10px;
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-top: 50px;
    background-color: white;

}

.ora{
    font-size: 10px;
    align-self:flex-end;
    margin-left: 68%;
    margin-bottom: 2px;
}

.row_bot_dx{
    height: 12%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: 0 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    background-color: rgb(243, 238, 234);
}

.row_bot_dx input{
    width: 80%;
    border: none;
    font-size: 15px;
    height: 90%;
    text-align: left;
    padding-left: 5px;
}

/* *****************************COL SX*****************************/
.col_sx{
    
    height: 100%;
    width: 400px;
    border-right: 1px solid rgb(162, 145, 145);
    background-color:rgb(255, 255, 252);
}


.user_profile{
    height: 13%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    background-color:rgb(234, 234, 234);
}


.img_name{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.rounded{
    width: 35px;
    height: 35px;
}

.icons_user >*{
    margin-left: 10px;
}

.fa-solid{
    color: rgb(177, 177, 177);
}

.notifiche{
    width: 100%;
    height: 12%;
    min-height: 30px;
    background-color: rgb(142, 218, 252);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.notifiche a{
    color: rgb(179, 182, 184);
}

.fa-bell-slash{
    color: rgb(142, 218, 252);
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    font-size: 20px;
    margin-left: 10px;
}

#cont_ser{
    width: 100%;
    height: 9%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    padding:4px;
    background-color: rgb(237, 246, 250);

}

#ser_img{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:1px solid lightgrey;
}

#cont_ser input{
    width: 80%;
    border:1px solid lightgrey;
    text-align: center;
    height: 100%;
}

.contact{
    width: 100%;
    height: 67%;
    overflow-y:auto;
}

.chat_row{
    display: flex;
    gap: 20px;
    min-height: calc(100% / 7);
    padding: 4px;
    align-items: center;

}

.chat_row:hover{
    background-color: rgb(195, 195, 195);
    cursor: pointer;
}

.clicked{
    background-color:rgb(124, 127, 128) ;
}

.chat_row h2{
    font-size: 18px;
}

.chat_row span{
    font-size: 12px;
}